<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Robot Simulator</title>

    <!-- Include CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/canvas.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <!-- Your HTML content here -->

    <canvas id="canvas"></canvas>

    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>

    <input type="checkbox" id="home">
    <label for="home">
      <i class="fas fa-home" id="home_btn"></i>
    </label>

    <div class="sidebar">

        <!-- Obstacles control -->
        <label for="slider">Obstacles speed {{test}}</label>
        <input type="range" id="obstacles_speed_slider" min="0" max="100" value="50" step="1">

        <label for="checkbox">Obstacles bouncing back when hitting walls:</label>
        <input type="checkbox" id="checkbox">

    </div>

    <!-- Include JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/colors.js' %}"></script>
</body>
</html>
